{% extends "base.html" %}
{% block contant %}
{% include "navbar.html" %}
<header class="bg-dark py-2">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Update Profile......</h1>
        </div>
    </div>
</header>
<body>
    
    <section class="py-5">
        <div class="container px-4 px-lg-5">
            <div class="row align-items-center">
                <!-- Title Column -->
                <div class="col-md-6 mb-4 mb-md-0">
                    <div class="text-center">
                        <h1 class="display-4 fw-bolder">Update Profile</h1>
                    </div>
                </div>
                <!-- Form Column -->
                <div class="col-md-6">
                    <h2 class="text-center text-md-left">Update Profile Information</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center text-md-left">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <a class="btn btn-secondary ml-2" href="{% url 'index' %}">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}